@import '../../common/_colors';

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'danger': $danger,
  'warning': $warning,
  'black': $black,
);

$variants: (
  'outlined': 'outlined',
  'contained': 'contained',
);

$sizes: (
  'small': 'sm',
  'large': 'lg',
  'fullwidth': 'fw',
);

.JUI_button {
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
  padding: 8px 2px;
  border-width: 1px;
  text-transform: capitalize;
  overflow-wrap: break-word;

  //create classes for all colors
  @each $key, $value in $colors {
    &_#{$key} {
      color: $value;
      background-color: $value;
      border: 1px solid $value;
      &:hover {
        filter: brightness(95%);
      }
    }
  }

  @each $key, $value in $variants {
    &_#{$key} {
      @if ($key == outlined) {
        background-color: transparent;
        &:hover {
          background-color: lightgray;
        }
      } @else {
        color: #fff;
      }
    }
  }

  @each $key, $value in $sizes {
    &_#{$key} {
      @if ($key == 'small') {
        width: 80px;
      }
      @if ($key == 'large') {
        width: 150px;
      }
      @if ($key == fullwidth) {
        width: 100%;
      }
    }
  }

  &_animate {
    transform: translateY(0);
    transition: transform 0.25s;
    &:hover {
      transform: translateY(4px);
    }
  }

  &:disabled {
    background-color: $gray;
    border: none;
  }
}
