@import '../../common/z-indexes';
@import '../../common/screens';

.JUI_modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z5;
  display: grid;
  place-items: center;

  &_content {
    background-color: #fff;
    min-height: 300px;
    min-width: 300px;
    max-height: 350px;
    max-width: 350px;
    padding: 16px;
    @include md-screen {
      max-width: 400px;
    }
    @include lg-screen {
      max-width: 600px;
    }
  }
}
